<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="XPRES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--LiveDB-->
    <!--<add name="XpresEntities" connectionString="metadata=res://*/DAL.XpresModel.csdl|res://*/DAL.XpresModel.ssdl|res://*/DAL.XpresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XPRES-SERVER\XpresMain;initial catalog=XPRES;persist security info=True;user id=pwmckee1;password=A420024a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--TestDB-->
    <!--<add name="XpresEntities" connectionString="metadata=res://*/DAL.XpresModel.csdl|res://*/DAL.XpresModel.ssdl|res://*/DAL.XpresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XPRES-SERVER\XpresMain;initial catalog=XpresTest;persist security info=True;user id=pwmckee1;password=A420024a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--LaptopDB-->
    <!--<add name="XpresEntities" connectionString="metadata=res://*/DAL.XpresModel.csdl|res://*/DAL.XpresModel.ssdl|res://*/DAL.XpresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WILPM250122-NON\SQLEXPRESS;initial catalog=XpresTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Asus-->
    <add name="XpresEntities" connectionString="metadata=res://*/DAL.XpresModel.csdl|res://*/DAL.XpresModel.ssdl|res://*/DAL.XpresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAZGUL;initial catalog=XpresTest;persist security info=True;user id=pwmckee1;password=A420024a;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--HP Laptop-->
    <!--<add name="XpresEntities" connectionString="metadata=res://*/DAL.XpresModel.csdl|res://*/DAL.XpresModel.ssdl|res://*/DAL.XpresModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAZGUL;initial catalog=XpresTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>